body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
body {
    position: relative;
    overflow-x: hidden;
}
.clear-fix {
    overflow: auto;
}

h1 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 3rem;
}

h4 {
  font-weight: 400;
  line-height: 2rem;
}

li {
  list-style: none;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* SIDEBAR */

.main-cover {
  position: absolute;
  top: 0;
}

.sidebar{
    height: 100vh;
    /*margin: 100px auto 0;*/
    padding-left: calc(2em + 5vw);
    z-index: 5000;
}

#office {
  background-image: url("C:/Users/neded/Documents/GitHub/neat.world/img/background/office.jpg");
}

.menu-item{
    float: left;
    width: 100%;
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    position: relative;
    z-index: 5001;
    height: 33.33333vh;
}

#first{

}
#second{
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;

}
#third{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

}

.nav-link {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
   -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-shadow: -5px 0px 0px rgb(226, 55, 4);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(226, 55, 4);;
}

.active {
  color: #fff;
  z-index: 5000;
  position: relative;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.inactive {
  z-index: 1;
}

.menu-item-in {

}
.content {
  max-width: 700px;
  padding: 100px;
  font-size: 2em;
}

.cont {
  padding: 3vh;
  position: relative;
  opacity: 0;
}

/* nEAT */

.intro-container {
  margin-bottom: 10vh;
}

.intro-text-cont {
  padding: 2em;
  margin-top: -2em;
  background: #fff;
}

.intro-text:first-child {
  padding-bottom: 1em;
}

/* OFFICE */

.p-pic {
    margin-top: 13em;
}

.p-name {
    font-size: 2.8em;
    text-align: left;
    line-height: 1.4em;
    font-weight: 400;
    cursor: pointer;
}

.p-names-list {
    margin-top: -110px;
    background: #fff;
    padding: 2em;
    z-index: 5005;
}

.address {
  font-size: 2.8em;
  text-align: left;
  line-height: 1.4em;
  font-weight: 400;
}

.address-cont {
    margin-top: 25em;
    background: #fff;
    padding: 2em;
}


/* MEDUA QUERIES */

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 650px) {


}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 767px) and (max-width: 990px) {

}

@media screen and (min-width: 992px) {
  p {font-size: 2em; text-align: left;}

}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 55px;
  }

  h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 4rem;
  }

  h4 {
    font-weight: 400;
    line-height: 2.5rem;
  }

}
