body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
body {
    position: relative;
    overflow-x: hidden;
}
.clear-fix {
    overflow: auto;
}

h1 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 3rem;
}

h4 {
  font-weight: 400;
  line-height: 2rem;
}

li {
  list-style: none;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* SIDEBAR */

.sidebar {
  height: 100vh;
  position: fixed;
  padding: 3em;
  padding-left: calc(2em + 5vw);
  z-index: 5000;
}

.menu-item {
  display: block;
  font-size: 12em;
  font-weight: 900;
  position: relative;
  height: 33.3333%;

}

#neat {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#office {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#work {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu-item-in {
  display: flex;
  min-height: 100%;
  align-items: center;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link a.active {
  color: #fff;
}

.active {
  color: #fff;
  z-index: 5000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fixed-top {
  position: absolute !important;
  top: -0.39em;
  -webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

/* nEAT */

.intro-container {
  margin-bottom: 10vh;
}

.intro-text-cont {
  padding: 2em;
  margin-top: -2em;
  background: #fff;
}

.intro-text:first-child {
  padding-bottom: 1em;
}

/* OFFICE */

.p-pic {
    margin-top: 13em;
}

.p-name {
    font-size: 2.8em;
    text-align: left;
    line-height: 1.4em;
    font-weight: 400;
}

.p-names-list {
    margin-top: -2em;
    background: #fff;
    padding: 2em;
}

.address {
  font-size: 2.8em;
  text-align: left;
  line-height: 1.4em;
  font-weight: 400;
}

.address-cont {
    margin-top: 25em;
    background: #fff;
    padding: 2em;
}


/* MEDUA QUERIES */

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 650px) {


}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 767px) and (max-width: 990px) {

}

@media screen and (min-width: 992px) {
  p {font-size: 2em; text-align: left;}

}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 55px;
  }

  h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 4rem;
  }

  h4 {
    font-weight: 400;
    line-height: 2.5rem;
  }

}
